* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    max-height: 90vh;
    max-width: 100vw;
    background-color: #ccc;
    padding: 5px;
}

.grid-square {
    aspect-ratio: 1 / 1;
    width: calc((90vh - 15px - 10px) / 16);
    /* 15px for gap between squares and 2 * 5px for padding */
    max-width: calc((100vw - 25px) / 16);
    background-color: white;
}

button {
    margin: 10px;
    padding: 5px;
}